@font-face{
  font-family: "ghj-font";
  src: url('./font/ALGER.TTF');
}

.hello-div{
  background-color: palevioletred;
  padding: 5px 0;
  color: white;
  font-weight: 700;
  font-family: 'ghj-font';
}